<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <br />

    <div style="background-color: white; padding: 10px; border-radius: 3px; border: 1px solid #CBD0D4;" width="100%">
        <iframe frameborder="0" width="100%" src="https://platform.harvestapp.com/platform/timer?app_name=Codecycler&closable=false&permalink=https://codecycler.com&external_item_id=<?= $task_id ?>&external_item_name=<?= $task_name ?>&chromeless=true">
        </iframe>
    </div>

<?php endif ?>
